# Virtual Environment
venv/
.venv/
env/
ENV/
.eegvenv/
.enforcastvenv/

# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Project specific
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep



# Data
*.dat
# Large data files
*.csv
*.xlsx
*.parquet
*.h5
*.hdf5
*.pkl
